<meta charset="UTF-8">
<title>SubLab</title>
<head>
    <link rel="shortcut icon" href="/img/favicon/favicon_circular.ico" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon_circular_16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon_circular_32x32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/img/favicon/favicon_circular_48x48.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/img/favicon/favicon_circular_64x64.png">
    <link rel="icon" type="image/png" sizes="128x128" href="/img/favicon/favicon_circular_128x128.png">
    <link rel="icon" type="image/png" sizes="256x256" href="/img/favicon/fa_circularvicon_circular_256x256.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/favicon_circular_256x256.png">
</head>
<head th:insert="~{layouts/link}">
</head>


