<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}"
      layout:fragment="content">
<head>
    <meta property="og:title" th:content="${article.title}"/>
    <meta property="og:description" th:content="${article.subTitle}"/>
    <meta property="og:image" content="https://suplab-bucket.s3.ap-northeast-2.amazonaws.com/static/og_sup_lab.png"/>
    <link rel="stylesheet" href="/css/markdown.css"/>
    <link rel="stylesheet" th:href="@{/css/article.css}">
</head>
<body class="bg-light">
<div class="container my-5 px-xxl-2 pt-4 min-vh-100">
    <div class="row flex-lg-row-reverse d-lg-grid content">
        <div class="offcanvas-body p-4 pt-0 p-lg-2" th:insert="~{blog/blogSidebar}"
             th:with="articles=${articles}"></div>
        <div class="main">
            <div class="row mb-3">
                <div class="col">
                    <article>
                        <input type="hidden" id="article-id" th:value="${article.id}">
                        <header class="mb-5">
                            <div class="d-flex">
                                <h1 class="fw-bolder w-90 mb-3 text-wrap" th:utext="${article.title}"></h1>
                                <div class="d-flex ms-auto">
                                    <div sec:authorize="isAuthenticated()"
                                         th:if="${#authentication.principal.getName().equals(article.getAuthor())} ">
                                        <button type="button" id="modify-btn"
                                                th:onclick="|location.href='@{/blog/new-article?id={articleId}(articleId=${article.id})}'|"
                                                class="btn btn-primary btn-sm">
                                            <i class="fa-solid fa-pen"></i>
                                        </button>
                                        <button type="button" id="delete-btn"
                                                class="btn btn-secondary btn-sm">
                                            <i class="fa-regular fa-trash-can"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <h5 class="mb-3 text-secondary" th:text="${article.subTitle}"></h5>
                            <div class="text-muted ms-auto d-flex justify-content-start">
                                <span class="username" th:text="|${article.author}|"></span>
                                <span class="separator">·</span>
                                <span th:text="|${#temporals.format(article.updatedAt, 'yyyy년 MM월 dd일')}|"></span>
                                <span class="separator">·</span>
                                <span th:text="|${#temporals.format(article.createdAt, 'yyyy년 MM월 dd일')} 수정됨|"></span>
                            </div>
                        </header>
                        <section class="mb-5 markdown-body">
                            <div class="mb-4 article-min-height" th:utext="${article.content}">

                            </div>
                        </section>
                    </article>
                </div>
            </div>

            <div id="prev-next-card" class="row mb-5">
                <div class="col">
                    <a th:if="${prevNextArticle.isPrev}"
                       class="card border-0 mb-2 link-underline link-underline-opacity-0"
                       th:href="|/blog/${article.menuName}/${prevNextArticle.prevId}|">
                        <div class="card-body">
                            <span class="pn-label">이전 글</span>
                            <h6 th:text="${prevNextArticle.prevTitle}"></h6>
                        </div>
                    </a>
                    <a th:if="${not prevNextArticle.isPrev}"
                       class="card border-0 mb-2 link-underline link-underline-opacity-0">
                        <div class="card-body">
                            <span class="pn-label">이전 글</span>
                            <h6 th:text="${prevNextArticle.prevTitle}"></h6>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a th:if="${prevNextArticle.isNext}"
                       class="card border-0 mb-2 ms-auto link-underline link-underline-opacity-0"
                       th:href="|/blog/${article.menuName}/${prevNextArticle.nextId}|">
                        <div class="card-body ms-auto justify-content-end">
                            <span class="pn-label">다음 글</span>
                            <h6 th:text="${prevNextArticle.nextTitle}"></h6>
                        </div>
                    </a>
                    <a th:if="${not prevNextArticle.isNext}"
                       class="card border-0 mb-1 ms-auto link-underline link-underline-opacity-0">
                        <div class="card-body ms-auto justify-content-end">
                            <span class="pn-label">다음 글</span>
                            <h6 th:text="${prevNextArticle.nextTitle}"></h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row border-top pt-5">
                <div class="col md-5">
                    <h2>Comments</h2>
                </div>
                <script src="https://utteranc.es/client.js"
                        repo="dustjq1004/comments"
                        issue-term="pathname"
                        theme="github-light"
                        label="comments"
                        crossorigin="anonymous"
                        async>
                </script>
            </div>
        </div>
    </div>
</div>

<script src="/js/blog.js"></script>
<script src="/js/article.js"></script>
</body>
