<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
    <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
    <style>
        .mde-table {
            width: 30px;
        }
    </style>
</head>
<div th:insert="~{layouts/head}"></div>
<body class="bg-light">
<div th:insert="~{layouts/navigator}" th:with="title=Blog"></div>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h2 class="mb-4">글 등록</h2>
            <article>
                <input type="hidden" id="article-id" th:value="${article.id}">
                <div class="col-md-5 mb-2">
                    <select class="form-select" id="menu" required="required">
                        <option value="">메뉴 선택</option>
                        <option th:each="menu : ${menus}" th:text="${menu.name}" th:value="${menu.id}">United States
                        </option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid menu.
                    </div>
                </div>

                <header class="mb-4">
                    <input type="text" class="form-control" placeholder="제목" id="title" th:value="${article.title}">
                </header>
                <section class="mb-5">
                    <textarea class="form-control h-25" rows="10" placeholder="내용" id="content"
                              th:text="${article.content}"></textarea>
                </section>
                <button th:if="${article.id} != null" type="button" id="modify-btn" class="btn btn-primary btn-sm">수정
                </button>
                <button th:if="${article.id} == null" type="button" id="create-btn" class="btn btn-primary btn-sm">등록
                </button>
            </article>
        </div>
    </div>
</div>
<div th:insert="~{layouts/footer}"></div>
<script src="/js/article.js"></script>
<script th:inline="javascript">
    const content = /*[[${article.content}]]*/;
    if (!content) {
        easyMDE.value(content);
    }
</script>
</body>