<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <SpringProfile name="local">
        <!-- Appenders -->
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>DEBUG</level>
            </filter>
            <encoder>
                <pattern>
                    %d{yyyy-MM-dd HH:mm:ss.SSS} %X{clientIP} %X{requestId} [%-5level] [%thread] %logger{30} - %msg%n
                </pattern>
            </encoder>
        </appender>

        <logger name="org.springframework.web" level="DEBUG"/>
        <logger name="org.springframework.boot" level="DEBUG"/>
        <logger name="org.hibernate.SQL" level="DEBUG"/>
        <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>
        <logger name="org.springframework.boot.autoconfigure" level="INFO"/>
    </SpringProfile>
    <SpringProfile name="dev">
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>/app/logs/application.log</file>

            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>/app/logs/application-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
                <maxFileSize>100MB</maxFileSize>
                <maxHistory>30</maxHistory>
                <cleanHistoryOnStart>true</cleanHistoryOnStart>
                <gzippedArchive>true</gzippedArchive>
            </rollingPolicy>

            <encoder>
                <pattern>
                    [%d{yyyy-MM-dd HH:mm:ss.SSS}] %X{clientIP} %X{requestId} [%-5level] [%thread] %logger{30} - %msg%n
                </pattern>
            </encoder>

        </appender>

        <root level="INFO">
            <appender-ref ref="FILE"/>
        </root>
    </SpringProfile>
</configuration>