<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{blog/admin/index}"
        layout:fragment="content">
<head>
</head>
<body>
<div class="min-vh-100 container my-5 px-xxl-2 pt-4">
    <div class="row flex-lg-row-reverse d-lg-grid content admin-content">
        <div class="offcanvas-body p-4 pt-0 p-lg-2 admin-content-container ms-4 admin-sidebar-container">
            <ul class="bd-links-nav list-unstyled mb-0 pb-3 pb-md-2 pe-lg-2">
                <li class="bd-links-group py-2">
                    <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold mb-1 fs-4">
                        블로그 관리
                    </strong>
                    <ul class="side-link list-unstyled fw-normal pb-2 big">
                        <li class="bd-links-group py-1 ms-3">
                            <a class="bd-links-link d-inline-block rounded" aria-current="page"
                               onclick="loadCategoriesFragment()">
                                카테고리 관리
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div id="main" class="main">
            <div id="admin-content" class="container">

            </div>
        </div>
    </div>

</div>
</body>
<script src="/js/admin/admin.js"></script>
<script src="/js/templates/admin-templates.js"></script>
</html>