:root {
    --admin-search-filter-container-color: rgba(var(--primary-black), .05);
}

ul {
    margin-bottom: 0rem;
}

.admin-content .card {
    background-color: var(--admin-search-filter-container-color);
}

.main {
    min-height: 100vh;
}

.admin-content {
    gap: 3rem;
}

.admin-content-container {
    overflow: visible;
}

.admin-sidebar-container {
    margin: 0 auto;
    border-right: 1px solid rgba(187, 185, 185, 0.6);
}

