:root {
    --admin-search-filter-container-color: rgba(var(--primary-black), .09);
    --bs-form-control-focus-border-color: transparent;
    --bs-form-control-focus-box-shadow: none;
    --admin-form-control-focus-box-shadow: 0 0 0 0.25rem rgba(107, 132, 255, 0.25);
}

ul {
    margin-bottom: 0rem;
}

.fs-lg {
    font-size: 1.25rem;
}

.admin-content .card {
    background-color: var(--admin-search-filter-container-color);
}

.main {
    min-height: 100vh;
}

.admin-content {
    gap: 3rem;
}

.admin-content-container {
    overflow: visible;
}

.admin-sidebar-container {
    margin: 0 auto;
    border-right: 1px solid rgba(187, 185, 185, 0.6);
}

/* admin - aritcles */

.articles-container {
    font-size: 0.9rem;
}

.input-group {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    width: 100%;
    transition: all .3s ease-in-out;
}

.input-group:focus-within {
    border-color: blue;
    box-shadow: var(--admin-form-control-focus-box-shadow);
}

.input-group-text {
    background-color: var(--bs-body-bg);
    border: none;
}

.form-control {
    border: none;
}

.form-control:focus {
    border-color: var(--bs-form-control-focus-border-color);
    box-shadow: none;
}
