ul {
    margin-bottom: 0rem;
}

.admin-sidebar-container {
    width: 200px;
    height: auto;
    box-shadow: rgba(136, 165, 191, 0.48) 2px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    border-radius: 10px;
}