/*
article - list CSS
글 목록
*/
#article-list .card:hover {
    /*background-color: rgba(112.520718, 44.062154, 249.437846, .1);*/
    transform: translateY(-6px);
    transition-duration: 0.5s;
}


/*
article CSS
글 정보 조회
*/
#prev-next-card .card:hover {
    background-color: rgba(112.520718, 44.062154, 249.437846, .1);
    border-color: white;
    transform: translateY(-5px);
    transition-duration: 0.5s;
}

