body {
    /*padding-top: 56px;*/

}

html, body {
    overflow-x: hidden;
}

a {
    cursor: pointer;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.bg-body {
    --bs-bg-opacity: 1;
    background-color: var(--white) !important;
}

.CodeMirror-fullscreen {
    z-index: 2000;
}

.editor-toolbar.fullscreen {
    z-index: 2000;
}

.editor-preview-side {
    z-index: 2000;
}

.w-90 {
    width: 90% !important;
}

/*
easymde preview CSS
*/
.editor-preview-active-side img {
    width: 100px;
}
