.draft-modal {
    margin-top: 15vh;
    max-width: 800px;
}

.draft-modal-content {
    background-color: var(--draft-modal-background-color);
}

.draft-modal .modal-header {
    background-color: var(--primary-white);
}

.draft-modal-body {
    padding: 0.5rem;
}

.draft-modal .modal-footer {
    background-color: var(--primary-white);
}

.draft-modal-body {
    overflow: scroll;
    height: 500px;
}

#draft-list:first-child .draft-item-container {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#draft-list:last-child .draft-item-container {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.draft-item {
    list-style: none;
}

.draft-item a {
    text-decoration: none;
}

.draft-item-container {
    align-items: center;
    height: var(--draft-item-height);
    display: flex;
    flex-direction: row;
    color: var(--draft-item-container-color);
    background-color: var(--draft-item-background-color);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 0px 0.5px;
    padding: 15px;
    margin-bottom: 1px;
    /*padding: 0 var(--docsearch-spacing) 0 0;*/
}

.draft-item-container:hover {
    background-color: var(--signature-color);
    color: var(--primary-white);
}

.draft-item-wrapper {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    line-height: 1.2em;
    margin: 0 8px;
    overflow-x: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;
}

.draft-item-title {
    margin-left: 10px;
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    overflow: hidden; /* 넘치는 텍스트 숨기기 */
    text-overflow: ellipsis; /* 초과된 텍스트를 ...으로 표시 */
}

.draft-item-icon, .draft-item-action {
    display: flex;
    align-items: center;
}

.draft-list-label {
    /*background: var(--docsearch-modal-background);*/
    color: var(--draft-list-result-label-color);
    font-size: .85em;
    font-weight: 600;
    line-height: 32px;
    margin: 0 15px;
    padding: 8px 4px 0;
    position: sticky;
    top: 0;
    z-index: 10;
}

.draft-no-item-box {
    text-align: center;
}

.dropdown-no-item-text {
    list-style: none;
    font-size: 1rem;
    color: var(--draft-no-item-color);
}

/* bootstrap tooltip custom */
.custom-tooltip {
    --bs-tooltip-max-width: 300px;
    --bs-tooltip-bg: var(--draft-title-tooltip-background);
    --bs-tooltip-color: var(--primary-white);
}

.init-button {
    height: 40px;
}

.draft-items-button {
    height: 40px;
}

.draft-delete-btn {
    opacity: 0.7;
    transition: opacity 0.2s;
    height: 40px;
}

.draft-delete-btn:hover {
    opacity: 1;
}

.draft-close-btn {
    background-color: var(--draft-close-btn-color);
    color: var(--primary-white);
    opacity: 0.7;
    transition: opacity 0.2s;
}

.draft-close-btn:hover {
    background-color: var(--draft-close-btn-color);
    color: var(--primary-white);
    opacity: 1;
}