<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:include="layouts/head"></div>
<body class="bg-light">
<div th:include="layouts/navigator" th:with="title=Blog"></div>
<!--<div class="p-5 mb-5 text-center</> bg-light">-->
<!--    <h1 class="mb-3">My Blog</h1>-->
<!--    <h4 class="mb-3">블로그에 오신 것을 환영합니다.</h4>-->
<!--</div>-->

<div class="container my-5 px-xxl-2">
    <div class="row flex-lg-row-reverse d-lg-grid content">
        <div class="offcanvas-body p-4 pt-0 p-lg-0">
            <ul class="bd-links-nav list-unstyled mb-0 pb-3 pb-md-2 pe-lg-2">
                <li class="bd-links-group py-2" th:each="item : ${categories}">
                    <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold mb-1"
                            th:text="${item.name}">
                        시작하기
                    </strong>

                    <ul class="list-unstyled fw-normal pb-2 small">
                        <li th:each="menu : ${item.menus}">
                            <!--                               th:href="@{/articles?menuId={id}(id=${menu.id})}"-->
                            <a th:onclick="@{sendGetRequest({id})(id=${menu.id})}"
                               class="bd-links-link d-inline-block rounded" aria-current="page"
                               th:text="${menu.name}">
                                시작하기
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="main">
            <div class="d-flex">
                <h2>BLOG</h2>
                <div class="d-flex ms-auto">
                    <div class="">
                        <button type="button" id="create-btn"
                                th:onclick="|location.href='@{/new-article}'|"
                                class="btn btn-secondary btn-sm ">글 등록
                        </button>
                    </div>
                </div>
            </div>
            <div id="article-list">
                <div class="row-6" th:each="item : ${articles}">
                    <div class="card">
                        <div class="card-header" th:text="${item.id}">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" th:text="${item.title}"></h5>
                            <p class="card-text" th:text="${item.content}"></p>
                            <a th:href="@{/articles/{id}(id=${item.id})}" class="btn btn-primary">보러가기</a>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <!--    <button type="button" class="btn btn-secondary" onclick="location.href='/logout'">로그아웃</button>-->
</div>

<div th:include="layouts/footer"></div>
<script src="/js/token.js"></script>
<script src="/js/article.js"></script>
<div th:include="layouts/script"></div>
</body>