<div class="d-flex mb-4">
    <div class="row">
        <article>
            <input type="hidden" id="article-id" th:value="${article.id}">
            <header class="mb-4">
                <h1 class="fw-bolder mb-1" th:utext="${article.title}"></h1>
                <div class="text-muted fst-italic mb-2"
                     th:text="|Posted on ${#temporals.format(article.updateAt, 'yyyy-MM-dd HH:mm')} By ${article.author}|"></div>
            </header>
            <section class="mb-5">
                <p class="fs-5 mb-4" th:utext="${article.content}"></p>
            </section>
        </article>
    </div>
</div>
<hr/>
<button type="button" id="modify-btn"
        th:onclick="|location.href='@{/blog/new-article?id={articleId}(articleId=${article.id})}'|"
        class="btn btn-primary btn-sm">수정
</button>
<button type="button" id="delete-btn"
        class="btn btn-secondary btn-sm">삭제
</button>
