<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/article-list.css}">
</head>
<div th:include="layouts/head"></div>
<body class="bg-light">
<div th:include="layouts/navigator" th:with="title=Blog"></div>

<div class="container my-5 px-xxl-2">
    <div class="row flex-lg-row-reverse d-lg-grid content">
        <div class="offcanvas-body p-4 pt-0 p-lg-0">
            <ul class="bd-links-nav list-unstyled mb-0 pb-3 pb-md-2 pe-lg-2">
                <li class="bd-links-group py-2" th:each="item : ${categories}">
                    <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold mb-1"
                            th:text="${item.name}">
                        카테고리
                    </strong>

                    <ul class="list-unstyled fw-normal pb-2 small">
                        <li th:each="menu : ${item.menus}">
                            <!--                               th:href="@{/articles?menuId={id}(id=${menu.id})}"-->
                            <a th:onclick="@{getArticles({id})(id=${menu.id})}"
                               class="bd-links-link d-inline-block rounded" aria-current="page"
                               th:text="${menu.name}">
                                메뉴
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="main" class="main">

        </div>
    </div>
    <!--    <button type="button" class="btn btn-secondary" onclick="location.href='/logout'">로그아웃</button>-->
</div>

<div th:include="layouts/footer"></div>
<script src="/js/token.js"></script>
<script src="/js/blog.js"></script>
<div th:include="layouts/script"></div>
</body>