<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="categoriesFragment()" class="row">
    <div id="categories-container" class="col-md-5">
        <ul id="categories-content" class="list-group">

        </ul>
        <div class="d-grid gap-2 mt-3 p-1">
            <button type="button" class="btn btn-primary" onclick="showCategoryAddModal()">
                <i class="bi bi-plus-square-fill"></i>
            </button>
        </div>
    </div>
    <div id="menus-container" class="col">
        <ul id="menus-content" class="list-group list-group-flush scrollarea">

        </ul>
    </div>
</div>
</body>
</html>