<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="categoriesFragment()" class="row">
    <div id="categories-container" class="col-md-5">
        <ul id="categories-content" class="list-group">

        </ul>
        <div class="d-grid gap-2 mt-3 p-1">
            <button type="button" class="btn btn-primary"
                    data-bs-toggle="modal" data-bs-target="#categoryAddDetail" aria-label="true">
                <i class="bi bi-plus-square-fill"></i>
            </button>
        </div>
    </div>
    <div id="menus-container" class="col">
        <ul id="menus-content" class="list-group list-group-flush scrollarea">

        </ul>
        <div class="d-grid gap-2 mt-3 p-1">
            <button type="button" class="btn btn-primary" onclick="showMenuAddModal()" aria-label="true">
                <i class="bi bi-plus-square-fill"></i>
            </button>
        </div>
    </div>
</div>

<div th:fragment="articlesFragment()" class="row">
    <div id="articles-container" class="articles-container">
        <div class="card rounded-4 card-line border-transparent mb-7">
            <div class="card-body p-4">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-auto mb-3 mb-lg-0">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <div class="text-body-secondary">No customers selected</div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-auto ms-auto">
                        <div class="input-group bg-body">
                            <input type="text" class="form-control p-2" placeholder="Search" aria-label="Search"
                                   aria-describedby="search">
                            <span class="input-group-text" id="search">
                                <a type="button" onclick="">
                                    <i class="bi bi-search"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="dropdown">
                            <button id="articleFilterButton" class="btn btn-secondary py-2" type="button"
                                    data-bs-toggle="dropdown"
                                    data-bs-auto-close="outside"
                                    aria-expanded="false">
                                <i class="bi bi-filter-left"></i>
                            </button>
                            <div class="dropdown-menu rounded-3 p-3 shadow">
                                <h4 class="fs-lg mb-4">Filter</h4>
                                <form style="width: 350px;">
                                    <div class="row align-items-center mb-3">
                                        <div class="col-3">
                                            <label class="form-label mb-0" for="filterUser">User</label>
                                        </div>
                                        <div class="col-9">
                                            <select id="filterUser" class="form-select">
                                                <option value="all">All</option>
                                                <option value="user1">User 1</option>
                                                <option value="user2">User 2</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto ms-m1">
                        <div class="drop-down">
                            <button class="btn btn-secondary py-2" data-bs-toggle="dropdown"
                                    data-bs-auto-close="outside"
                                    aria-expanded="false">
                                <i class="bi bi-list-ol"></i>
                            </button>
                            <div class="dropdown-menu rounded-3 p-3">
                                <h4 class="fs-lg mb-4">Sort</h4>
                                <form style="width: 350px" id="filterForm">
                                    <div class="row gx-3">
                                        <div class="col">
                                            <div class="choices" data-type="select-one" tabindex="0" role="listbox"
                                                 aria-haspopup="true" aria-expanded="false">
                                                <select id="sortSelect" class="form-select"
                                                        aria-label="Default select example">
                                                    <option value="user">User</option>
                                                    <option value="company">Company</option>
                                                    <option value="phone">Phone</option>
                                                    <option value="location">Location</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="btn-group" role="group"
                                                 aria-label="Basic radio toggle button group">
                                                <input type="radio" class="btn-check" name="sortRadio" id="sortAsc"
                                                       autocomplete="off" checked="">
                                                <label class="btn btn-light" for="sortAsc" data-bs-toggle="tooltip"
                                                       data-bs-title="Ascending">
                                                    <i class="bi bi-arrow-up"></i>
                                                </label>
                                                <input type="radio" class="btn-check" name="sortRadio" id="sortDesc"
                                                       autocomplete="off">
                                                <label class="btn btn-light" for="sortDesc" data-bs-toggle="tooltip"
                                                       data-bs-title="Descending">
                                                    <i class="bi bi-arrow-down"></i>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="article-wrap" class="mt-5">
            <table class="table table-hover table-select align-middle mb-3">
                <thead>
                <tr>
                    <th style="width: 0px">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="tableCheckAll">
                            <label class="form-check-label" for="tableCheckAll"></label>
                        </div>
                    </th>
                    <th>카테고리</th>
                    <th>글 제목</th>
                    <th>부 제목</th>
                    <th>작성자</th>
                    <th>등록일자</th>
                </tr>
                </thead>
                <tbody id="article-tbody">
                <tr>

                </tr>

                </tbody>
            </table>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <!-- Text -->
                <p id="articlePageSummary" class="text-body-secondary mb-0">(0 total)</p>
            </div>
            <div class="col-auto">
                <!-- Pagination -->
                <nav aria-label="Page navigation">
                    <ul id="articlePagination" class="pagination mb-0">

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
</body>
</html>