<!-- Modal -->
<div class="modal fade" id="draftModal" tabindex="-1" aria-labelledby="draftModalLabel" aria-hidden="true">
    <div class="modal-dialog draft-modal">
        <div class="modal-content draft-modal-content">
            <header class="modal-header">
                <h3 class="modal-title fs-6" id="draftModalLabel">임시 저장 목록</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </header>
            <div class="draft-list-label">
                <span>검색 결과</span>
            </div>
            <div class="modal-body draft-modal-body">
                <ul id="draft-list" class="px-3" data-bs-dismiss="modal">
                </ul>
            </div>
            <footer class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </footer>

        </div>
    </div>
</div>